#docTreatPatient {
  min-height: calc(100vh - 403px);
  .kt-portlet__foot {
    padding: 10px;
  }
  .kt-portlet__body {
    padding: 10px 0 0 0 !important;
  }
  .kt-separator.kt-separator--space-lg,
  .kt-separator.kt-separator--lg {
    margin: 0.5rem 0;
  }
  #center-line {
    div {
      border: 1px solid;
      width: 1px;
      height: 100%;
    }
  }
  .kt-checkbox-inline {
    margin-top: 0 !important;
  }
}
