<div id="visitRegister" class="">
    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-container  kt-container--fluid ">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    Add Visit Register</h3>
            </div>
        </div>
    </div>
    <!-- end:: Subheader -->
    <div class="kt-container kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="col-md-12 p-0">
            <div class="kt-portlet">
                <!--begin::Form-->
                <form class="kt-form kt-form--label-left" name="visitRegisterInfo.form">
                    <div class="kt-portlet__body">
                        <div class="form-group row justify-content-end align-items-center ">
                            <a ui-sref="main.waitingList" class="d-flex align-items-center pr-3">
                                <span class="p-3">Back</span>
                                <i class="la la-2x la-chevron-circle-left"></i>
                            </a>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-md-2 col-sm-2 col-form-label">Document #:</label>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <div class="kt-input-icon kt-input-icon--right">
                                    <input type="text" class="form-control" ng-model="visitRegisterInfo.data.documentNo"
                                        disabled>
                                    <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                            <i class="la la-info-circle la-2x"></i></span>
                                    </span>
                                </div>
                            </div>
                            <label class="col-lg-2 col-md-2 col-sm-2 col-form-label">DocumentType:</label>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <div class="kt-input-icon kt-input-icon--right">
                                    <input type="text" class="form-control"
                                        ng-model="visitRegisterInfo.data.documentType" disabled>
                                    <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                            <i class="la la-info-circle la-2x"></i></span>
                                    </span>
                                </div>
                            </div>
                            <label class="col-lg-2 col-md-2 col-sm-2 col-form-label">Issue Date:</label>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <div class="kt-input-icon kt-input-icon--right">
                                    <input type="text" class="form-control" ng-model="visitRegisterInfo.data.issueDate"
                                        disabled />
                                    <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                            <i class="la la-calendar la-2x"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-md-2 col-sm-2 col-form-label">Doctor Code:</label>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <div class="kt-input-icon kt-input-icon--right">
                                    <input type="text" class="form-control" ng-model="visitRegisterInfo.data.doctorCode"
                                        disabled />
                                    <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                            <i class="la la-info-circle la-2x"></i></span>
                                    </span>
                                </div>
                            </div>
                            <label class="col-lg-2 col-md-2 col-sm-2 col-form-label">is Free Visit?:</label>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <div class="kt-checkbox-inline m-0">
                                    <label class="kt-checkbox">
                                        <input type="checkbox" ng-model="visitRegisterInfo.data.isFreeVisit" disabled>
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <label class="col-lg-2 col-md-2 col-sm-2 col-form-label">Visit Date:</label>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <div class="kt-input-icon kt-input-icon--right">
                                    <input type="text" class="form-control"
                                        ng-model="visitRegisterInfo.data.visitRegister" disabled />
                                    <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                            <i class="la la-calendar la-2x"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-md-2 col-sm-2 col-form-label">
                                Patient Code:<span class="form-astrik">*</span>
                            </label>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <select class="form-control"
                                    ng-options="item.patientId as item.patientCode for item in visitRegisterInfo.patientCodeList"
                                    ng-model="visitRegisterInfo.data.patientCode" required>
                                </select>
                            </div>
                            <label class="col-lg-2 col-md-2 col-sm-2 col-form-label">Patient Name:</label>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <div class="kt-input-icon kt-input-icon--right">
                                    <input type="text" class="form-control"
                                        ng-model="visitRegisterInfo.data.patientName" disabled>
                                    <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                            <i class="la la-info-circle la-2x"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot d-flex justify-content-end">
                        <div class="kt-form__actions">
                            <button type="submit" class="btn btn-success m-2"
                                ng-disabled="visitRegisterInfo.form.$invalid"
                                ng-click="visitRegisterInfo.save()">Save</button>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>
    </div>\
</div>