#docTreatInsEmpl {
  .kt-portlet__foot {
    padding: 10px;
  }
  .kt-portlet__body {
    padding: 10px 0 0 0 !important;
  }
  #center-line {
    div {
      border: 1px solid;
      width: 1px;
      height: 100%;
    }
  }
}
