<div id="docTreatInsEmpl">
    <div class="kt-form__section kt-form__section--first">
        <!--begin::Form-->
        <form class="kt-form kt-form--label-right">
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-lg-5 col-md-5">
                        <div class="form-group row">
                            <h5 class="form-header">Insurance Company Information</h5>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Has Insurance Company </label>
                            <div class="col-8">
                                <div class="kt-checkbox-inline">
                                    <label class="kt-checkbox">
                                        <input type="checkbox">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Insurance Company :</label>
                            <div class="col-8">
                                <div class="kt-input-icon kt-input-icon--right">
                                    <input type="text" class="form-control" value="Ajyal" disabled>
                                    <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                            <i class="la la-info-circle la-2x"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Policy Name :</label>
                            <div class="col-8">
                                <div class="kt-input-icon kt-input-icon--right">
                                    <input type="text" class="form-control" value="Class C" disabled>
                                    <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                            <i class="la la-info-circle la-2x"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Policy Number :</label>
                            <div class="col-8">
                                <div class="kt-input-icon kt-input-icon--right">
                                    <input type="text" class="form-control" value="12345672" disabled>
                                    <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                            <i class="la la-info-circle la-2x"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Policy Expiry :</label>
                            <div class="col-8">
                                <div class="kt-input-icon kt-input-icon--right">
                                    <input type="text" class="form-control" value="12345672" disabled>
                                    <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                            <i class="la la-calendar la-2x"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Policy Limit :</label>
                            <div class="col-8">
                                <div class="kt-input-icon kt-input-icon--right">
                                    <input type="text" class="form-control" value="10,000.00" disabled>
                                    <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                            <i class="la la-info-circle la-2x"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Is Waseel checked :</label>
                            <div class="col-8">
                                <div class="kt-checkbox-inline">
                                    <label class="kt-checkbox">
                                        <input type="checkbox">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Waseel checked by:</label>
                            <div class="col-8">
                                <div class="kt-input-icon kt-input-icon--right">
                                    <input type="text" class="form-control" value="12345672" disabled>
                                    <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                            <i class="la la-info-circle la-2x"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Card No :</label>
                            <div class="col-8">
                                <div class="kt-input-icon kt-input-icon--right">
                                    <input type="text" class="form-control" value="98765412" disabled>
                                    <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                            <i class="la la-info-circle la-2x"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 d-flex justify-content-center" id="center-line">
                        <div></div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group row">
                            <h5 class="form-header">Employment Company Information</h5>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Has Insurance Company </label>
                            <div class="col-8">
                                <div class="kt-checkbox-inline">
                                    <label class="kt-checkbox">
                                        <input type="checkbox">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Insurance Company :</label>
                            <div class="col-8">
                                <div class="kt-input-icon kt-input-icon--right">
                                    <input type="text" class="form-control" value="Ajyal" disabled>
                                    <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                            <i class="la la-info-circle la-2x"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Policy Name :</label>
                            <div class="col-8">
                                <div class="kt-input-icon kt-input-icon--right">
                                    <input type="text" class="form-control" value="Class C" disabled>
                                    <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                            <i class="la la-info-circle la-2x"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Policy Number :</label>
                            <div class="col-8">
                                <div class="kt-input-icon kt-input-icon--right">
                                    <input type="text" class="form-control" value="12345672" disabled>
                                    <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                            <i class="la la-info-circle la-2x"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Policy Expiry :</label>
                            <div class="col-8">
                                <div class="kt-input-icon kt-input-icon--right">
                                    <input type="text" class="form-control" value="12345672" disabled>
                                    <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                            <i class="la la-calendar la-2x"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Policy Limit :</label>
                            <div class="col-8">
                                <div class="kt-input-icon kt-input-icon--right">
                                    <input type="text" class="form-control" value="10,000.00" disabled>
                                    <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                            <i class="la la-info-circle la-2x"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Is Waseel checked :</label>
                            <div class="col-8">
                                <div class="kt-checkbox-inline">
                                    <label class="kt-checkbox">
                                        <input type="checkbox">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Waseel checked by:</label>
                            <div class="col-8">
                                <div class="kt-input-icon kt-input-icon--right">
                                    <input type="text" class="form-control" value="12345672" disabled>
                                    <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                            <i class="la la-info-circle la-2x"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Card No :</label>
                            <div class="col-8">
                                <div class="kt-input-icon kt-input-icon--right">
                                    <input type="text" class="form-control" value="98765412" disabled>
                                    <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                            <i class="la la-info-circle la-2x"></i></span>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__foot d-flex justify-content-end">
                <div class="kt-form__actions">
                    <button type="reset" class="btn btn-secondary m-2">Cancel</button>
                    <button type="submit" class="btn btn-success m-2" ng-click="Submit()">Save</button>
                </div>
            </div>
        </form>
        <!--end::Form-->
    </div>
</div>