#adultPatientSheet {
  .kt-portlet__foot {
    padding: 10px;
  }
  .kt-heading {
    margin: 0.35rem 0 !important;
  }
  .kt-portlet__body {
    padding: 15px !important;
    padding-top: 5px !important;
  }
  .kt-separator.kt-separator--space-lg,
  .kt-separator.kt-separator--lg {
    margin: 0.5rem 0;
  }

  td > img {
    height: 30%;
  }

  .stv-radio-buttons-wrapper {
    clear: both;
    display: inline-block;
    display: flex;
    justify-content: center;
    margin-right: 0.3rem;
  }
  .stv-radio-button {
    position: relative;

    & + label {
      float: left;
      padding: 0.35em 0.35em;
      cursor: pointer;
      border: 1px solid #0fb19a;
      margin-right: -1px;
      margin-bottom: 0;
      color: #fff;
      background-color: #78d6d4;
    }

    &:checked + label {
      background-color: kt-state-color(warning, base);
    }
  }
  .left-rad {
    border-radius: 0.35em 0 0 0.35em;
  }
  .right-rad {
    border-radius: 0 0.35em 0.35em 0;
  }
  .all-rad {
    border-radius: 0.35em 0.35em 0.35em 0.35em;
  }

  @include kt-desktop-and-tablet {
    .periodontal-number p {
      margin: 0.5rem !important;
    }
    div.form-group label:first-child {
      padding-left: 0 !important;
    }
  }
  @include kt-media-below(670px) {
    td > img {
      height: 24%;
    }
    .periodontal {
      &-label {
        display: none;
      }
      &-number p {
        margin: 0 !important;
      }
      &-tr {
        display: none;
      }
    }
  }
}
