<div id="adultPatientSheet">
    <div class="kt-form__section kt-form__section--first">
        <!--begin::Form-->
        <form class="kt-form kt-form--label-right">
            <div class="kt-portlet__body">
                <div class="form-group row">
                    <h5 class="form-header">Document Information</h5>
                </div>
                <div class="form-group row">
                    <label class="col-lg-1 col-md-2 col-sm-2 col-form-label">OPD No:</label>
                    <div class="col-lg-3 col-md-2 col-sm-2">
                        <div class="kt-input-icon kt-input-icon--right">
                            <input type="text" class="form-control" value="OPD 78964" disabled>
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                    <i class="la la-info-circle la-2x"></i></span>
                            </span>
                        </div>
                    </div>
                    <label class="col-lg-1 col-md-1 col-sm-1 col-form-label">Name:</label>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="kt-input-icon kt-input-icon--right">
                            <input type="text" class="form-control" placeholder="Enter Name">
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                    <i class="la la-user la-2x"></i></span>
                            </span>
                        </div>
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-form-label">Document Type:</label>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <select class="form-control">
                            <option selected>Treatment</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-1 col-md-2 col-sm-2 pr-0 col-form-label">Issue Date:</label>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="kt-input-icon kt-input-icon--right">
                            <input type="text" class="form-control" readonly placeholder="Select date"
                                id="kt_datepicker_2" />
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                    <i class="la la-calendar la-2x"></i></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit">
                </div>

                <div class="form-group row" id="periodontalTable">
                    <div class="col-lg-7">
                        <div class="form-group row">
                            <h5 class="form-header">Higher</h5>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12 d-flex">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Facial</td>
                                            <td align="center" ng-repeat="number in periodontalImg.tb1">
                                                <img src="{{'periodontal-chart-master/img/tabla1/periodontograma-dientes-arriba-' + number + '.png'}}"
                                                    alt="">
                                            </td>
                                            <td align="center" ng-repeat="number in periodontalImg.tb2">
                                                <img src="{{'periodontal-chart-master/img/tabla2/periodontograma-dientes-arriba-' + number + '.png'}}"
                                                    alt="">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td align="center" ng-repeat="number in periodontalImg.tb1">
                                                <p class="m-2">{{number}}</p>
                                            </td>
                                            <td align="center" ng-repeat="number in periodontalImg.tb2">
                                                <p class="m-2">{{number}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td align="center" ng-repeat="number in periodontalImg.tb1">
                                                <div class="stv-radio-buttons-wrapper">
                                                    <input type="radio" class="kt-hidden stv-radio-button"
                                                        name="{{'radioButtonTest'+number}}" value="1"
                                                        id="{{'button1'+number}}" checked />
                                                    <label for="{{'button1'+number}}" class="all-rad"></label>
                                                </div>
                                                <div class="stv-radio-buttons-wrapper">
                                                    <input type="radio" class="kt-hidden stv-radio-button"
                                                        name="{{'radioButtonTest'+number}}" value="1"
                                                        id="{{'button2'+number}}" checked />
                                                    <label for="{{'button2'+number}}" class="left-rad"> </label>
                                                    <input type="radio" class="kt-hidden stv-radio-button"
                                                        name="{{'radioButtonTest'+number}}" value="2"
                                                        id="{{'button3'+number}}" />
                                                    <label for="{{'button3'+number}}"> </label>
                                                    <input type="radio" class="kt-hidden stv-radio-button"
                                                        name="{{'radioButtonTest'+number}}" value="3"
                                                        id="{{'button4'+number}}" />
                                                    <label for="{{'button4'+number}}" class="right-rad"> </label>
                                                </div>
                                                <div class="stv-radio-buttons-wrapper">
                                                    <input type="radio" class="kt-hidden stv-radio-button"
                                                        name="{{'radioButtonTest'+number}}" value="1"
                                                        id="{{'button5'+number}}" checked />
                                                    <label for="{{'button5'+number}}" class="all-rad"> </label>
                                                </div>
                                            </td>
                                            <td align="center" ng-repeat="number in periodontalImg.tb2">
                                                <div class="stv-radio-buttons-wrapper">
                                                    <input type="radio" class="kt-hidden stv-radio-button"
                                                        name="{{'radioButtonTest'+number}}" value="1"
                                                        id="{{'button1'+number}}" checked />
                                                    <label for="{{'button1'+number}}" class="all-rad"></label>
                                                </div>
                                                <div class="stv-radio-buttons-wrapper">
                                                    <input type="radio" class="kt-hidden stv-radio-button "
                                                        name="{{'radioButtonTest'+number}}" value="1"
                                                        id="{{'button2'+number}}" checked />
                                                    <label for="{{'button2'+number}}" class="left-rad"> </label>
                                                    <input type="radio" class="kt-hidden stv-radio-button"
                                                        name="{{'radioButtonTest'+number}}" value="2"
                                                        id="{{'button3'+number}}" />
                                                    <label for="{{'button3'+number}}"> </label>
                                                    <input type="radio" class="kt-hidden stv-radio-button"
                                                        name="{{'radioButtonTest'+number}}" value="3"
                                                        id="{{'button4'+number}}" />
                                                    <label for="{{'button4'+number}}" class="right-rad"> </label>
                                                </div>
                                                <div class="stv-radio-buttons-wrapper">
                                                    <input type="radio" class="kt-hidden stv-radio-button"
                                                        name="{{'radioButtonTest'+number}}" value="1"
                                                        id="{{'button5'+number}}" checked />
                                                    <label for="{{'button5'+number}}" class="all-rad"> </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td align="center" ng-repeat="number in periodontalImg.tb1">
                                                <p class="m-2">{{number}}</p>
                                            </td>
                                            <td align="center" ng-repeat="number in periodontalImg.tb2">
                                                <p class="m-2">{{number}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Lingual</td>
                                            <td class="mt-1" align="center" ng-repeat="number in periodontalImg.tb3">
                                                <img src="{{'periodontal-chart-master/img/tabla3/periodontograma-dientes-arriba-' + number + '.png'}}"
                                                    alt="">
                                            </td>
                                            <td class="mt-1" align="center" ng-repeat="number in periodontalImg.tb4">
                                                <img src="{{'periodontal-chart-master/img/tabla4/periodontograma-dientes-arriba-' + number + '.png'}}"
                                                    alt="">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group row">
                            <h5 class="form-header">Lower</h5>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12 d-flex">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Facial</td>
                                            <td align="center" ng-repeat="number in periodontalImg.tb5">
                                                <img src="{{'periodontal-chart-master/img/tabla5/periodontograma-dientes-abajo-' + number + '.png'}}"
                                                    alt="">
                                            </td>
                                            <td align="center" ng-repeat="number in periodontalImg.tb6">
                                                <img src="{{'periodontal-chart-master/img/tabla6/periodontograma-dientes-abajo-' + number + '.png'}}"
                                                    alt="">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td align="center" ng-repeat="number in periodontalImg.tb5">
                                                <p class="m-2">{{number}}</p>
                                            </td>
                                            <td align="center" ng-repeat="number in periodontalImg.tb6">
                                                <p class="m-2">{{number}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td align="center" ng-repeat="number in periodontalImg.tb5">
                                                <div class="stv-radio-buttons-wrapper">
                                                    <input type="radio" class="kt-hidden stv-radio-button"
                                                        name="{{'radioButtonTest'+number}}" value="1"
                                                        id="{{'button1'+number}}" checked />
                                                    <label for="{{'button1'+number}}" class="all-rad"></label>
                                                </div>
                                                <div class="stv-radio-buttons-wrapper">
                                                    <input type="radio" class="kt-hidden stv-radio-button"
                                                        name="{{'radioButtonTest'+number}}" value="1"
                                                        id="{{'button2'+number}}" checked />
                                                    <label for="{{'button2'+number}}" class="left-rad"> </label>
                                                    <input type="radio" class="kt-hidden stv-radio-button"
                                                        name="{{'radioButtonTest'+number}}" value="2"
                                                        id="{{'button3'+number}}" />
                                                    <label for="{{'button3'+number}}"> </label>
                                                    <input type="radio" class="kt-hidden stv-radio-button"
                                                        name="{{'radioButtonTest'+number}}" value="3"
                                                        id="{{'button4'+number}}" />
                                                    <label for="{{'button4'+number}}" class="right-rad"> </label>
                                                </div>
                                                <div class="stv-radio-buttons-wrapper">
                                                    <input type="radio" class="kt-hidden stv-radio-button"
                                                        name="{{'radioButtonTest'+number}}" value="1"
                                                        id="{{'button5'+number}}" checked />
                                                    <label for="{{'button5'+number}}" class="all-rad"> </label>
                                                </div>
                                            </td>
                                            <td align="center" ng-repeat="number in periodontalImg.tb6">
                                                <div class="stv-radio-buttons-wrapper">
                                                    <input type="radio" class="kt-hidden stv-radio-button"
                                                        name="{{'radioButtonTest'+number}}" value="1"
                                                        id="{{'button1'+number}}" checked />
                                                    <label for="{{'button1'+number}}" class="all-rad"></label>
                                                </div>
                                                <div class="stv-radio-buttons-wrapper">
                                                    <input type="radio" class="kt-hidden stv-radio-button "
                                                        name="{{'radioButtonTest'+number}}" value="1"
                                                        id="{{'button2'+number}}" checked />
                                                    <label for="{{'button2'+number}}" class="left-rad"> </label>
                                                    <input type="radio" class="kt-hidden stv-radio-button"
                                                        name="{{'radioButtonTest'+number}}" value="2"
                                                        id="{{'button3'+number}}" />
                                                    <label for="{{'button3'+number}}"> </label>
                                                    <input type="radio" class="kt-hidden stv-radio-button"
                                                        name="{{'radioButtonTest'+number}}" value="3"
                                                        id="{{'button4'+number}}" />
                                                    <label for="{{'button4'+number}}" class="right-rad"> </label>
                                                </div>
                                                <div class="stv-radio-buttons-wrapper">
                                                    <input type="radio" class="kt-hidden stv-radio-button"
                                                        name="{{'radioButtonTest'+number}}" value="1"
                                                        id="{{'button5'+number}}" checked />
                                                    <label for="{{'button5'+number}}" class="all-rad"> </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td align="center" ng-repeat="number in periodontalImg.tb5">
                                                <p class="m-2">{{number}}</p>
                                            </td>
                                            <td align="center" ng-repeat="number in periodontalImg.tb6">
                                                <p class="m-2">{{number}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Lingual</td>
                                            <td class="mt-1" align="center" ng-repeat="number in periodontalImg.tb7">
                                                <img src="{{'periodontal-chart-master/img/tabla7/periodontograma-dientes-abajo-' + number + '.png'}}"
                                                    alt="">
                                            </td>
                                            <td class="mt-1" align="center" ng-repeat="number in periodontalImg.tb8">
                                                <img src="{{'periodontal-chart-master/img/tabla8/periodontograma-dientes-abajo-' + number + '.png'}}"
                                                    alt="">
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 legend-img">
                        <img src="assets\media\images\legend-dental.jpeg" height="100%" alt="">
                    </div>
                </div>


            </div>
            <div class="kt-portlet__foot d-flex justify-content-end">
                <div class="kt-form__actions">
                    <button type="reset" class="btn btn-secondary m-2">Cancel</button>
                    <button type="submit" class="btn btn-success m-2" ng-click="Submit()">Save</button>
                </div>
            </div>
        </form>

        <!--end::Form-->

    </div>
</div>