<div id="childMedication" class="">
    <div class="kt-form__section kt-form__section--first">
        <form class="kt-form kt-form--label-left" name="medicationInfoObject.form">
            <div class="kt-portlet__body">
                <div class="form-group row">
                    <h5 class="form-header">Medication</h5>
                </div>
                <div class="form-group row">

                    <label class="col-lg-2 col-md-2 col-sm-2 col-form-label">
                        Medicine:
                        <span class="form-astrik">*</span>
                    </label>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <select class="form-control" ng-model="medicationInfoObject.medicine"
                            ng-options="item.medicineId as item.medicineName for item in medicationInfoObject.medicineList"
                            required></select>
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 pr-0 col-form-label">
                        Method:
                        <span class="form-astrik">*</span>
                    </label>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="kt-input-icon kt-input-icon--right">
                            <input type="text" class="form-control" ng-model="medicationInfoObject.method">
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                    <i class="la la-info-circle la-2x"></i></span>
                            </span>
                        </div>
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-form-label">
                        Dosage:
                        <span class="form-astrik">*</span>
                    </label>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <select class="form-control" ng-model="medicationInfoObject.dosage"
                            ng-options="item.dosage as item.dosage for item in medicationInfoObject.dosageList"
                            required></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-form-label">
                        Number of Times in Day:
                        <span class="form-astrik">*</span>
                    </label>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="kt-input-icon kt-input-icon--right">
                            <input type="number" class="form-control" ng-model="medicationInfoObject.nTimesDay">
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                    <i class="la la-info-circle la-2x"></i></span>
                            </span>
                        </div>
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-form-label">Quantity: <span
                            class="form-astrik">*</span> </label>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="kt-input-icon kt-input-icon--right">
                            <input type="number" class="form-control" ng-model="medicationInfoObject.quantity">
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                    <i class="la la-info-circle la-2x"></i></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="kt-form__actions d-flex justify-content-end">
                    <button type="reset" class="btn btn-secondary m-2"
                        ng-click="medicationInfoObject.reset()">Cancel</button>
                    <button type="submit" ng-disabled="medicationInfoObject.form.$invalid" class="btn btn-success m-2"
                        ng-click="medicationInfoObject.save()">Save</button>
                </div>
                <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit">
                </div>
                <div custom-data-table tid="medicationDT" options="medicationInfoObject.dtTable.dtOptions"
                    ng-if="medicationInfoObject.dtTable.isLoaded">
                </div>
            </div>
        </form>
    </div>
</div>