<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                Waiting List
            </h3>
        </div>
    </div>
</div>
<div id="waitingList" class="kt-container kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="col-md-12 p-0">
        <div class="kt-portlet">
            <div class="kt-portlet__body">
                <div class="d-flex justify-content-end">
                    <a ui-sref="main.visitRegister" class="d-flex align-items-center">
                        <span class="p-3">Add Visit Register</span>
                        <i class="la la-2x la-plus-circle"></i>
                    </a>
                </div>
                <div custom-data-table tid="waitingTable" options="dtOptions" ng-if="waitingDataLoaded"> </div>
            </div>
        </div>
    </div>
</div>