<div id="childOcclusion" class="">
    <div class="col-md-12 p-0">
        <!--begin::Form-->
        <form class="kt-form kt-form--label-left">
            <div class="kt-portlet__body">

                <div class="form-group row">
                    <h5 class="form-header">Occlusion</h5>
                </div>
                <div class="form-group row">
                    <label class="col-lg-1 col-md-1 col-sm-1 col-form-label">MidLine:</label>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="kt-input-icon kt-input-icon--right">
                            <input type="text" class="form-control">
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                    <i class="la la-info-circle la-2x"></i></span>
                            </span>
                        </div>
                    </div>
                    <label class="col-lg-1 col-md-1 col-sm-1 col-form-label">OverJet:</label>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="kt-input-icon kt-input-icon--right">
                            <input type="text" class="form-control">
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                    <i class="la la-info-circle la-2x"></i></span>
                            </span>
                        </div>
                    </div>
                    <label class="col-lg-1 col-md-1 col-sm-1 col-form-label">OverBite:</label>
                    <div class="col-lg-2 col-md- col-sm-2">
                        <div class="kt-input-icon kt-input-icon--right">
                            <input type="text" class="form-control">
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                    <i class="la la-info-circle la-2x"></i></span>
                            </span>
                        </div>
                    </div>
                    <label class="col-lg-1 col-md-1 col-sm-1 col-form-label">OpenBite:</label>
                    <div class="col-lg-2 col-md- col-sm-2">
                        <div class="kt-input-icon kt-input-icon--right">
                            <input type="text" class="form-control">
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                    <i class="la la-info-circle la-2x"></i></span>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Right Molars</label>
                    <div class="col-4">
                        <div class="kt-checkbox-inline">
                            <label class="kt-checkbox">
                                <input type="checkbox"> Class I
                                <span></span>
                            </label>
                            <label class="kt-checkbox">
                                <input type="checkbox"> Class II
                                <span></span>
                            </label>
                            <label class="kt-checkbox">
                                <input type="checkbox"> Class III
                                <span></span>
                            </label>
                        </div>

                    </div>
                    <label class="col-2 col-form-label">Right Canine</label>
                    <div class="col-4">
                        <div class="kt-checkbox-inline">
                            <label class="kt-checkbox">
                                <input type="checkbox"> Class I
                                <span></span>
                            </label>
                            <label class="kt-checkbox">
                                <input type="checkbox"> Class II
                                <span></span>
                            </label>
                            <label class="kt-checkbox">
                                <input type="checkbox"> Class III
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Left Molars</label>
                    <div class="col-4">
                        <div class="kt-checkbox-inline">
                            <label class="kt-checkbox">
                                <input type="checkbox"> Class I
                                <span></span>
                            </label>
                            <label class="kt-checkbox">
                                <input type="checkbox"> Class II
                                <span></span>
                            </label>
                            <label class="kt-checkbox">
                                <input type="checkbox"> Class III
                                <span></span>
                            </label>
                        </div>

                    </div>
                    <label class="col-2 col-form-label">Left Canine</label>
                    <div class="col-4">
                        <div class="kt-checkbox-inline">
                            <label class="kt-checkbox">
                                <input type="checkbox"> Class I
                                <span></span>
                            </label>
                            <label class="kt-checkbox">
                                <input type="checkbox"> Class II
                                <span></span>
                            </label>
                            <label class="kt-checkbox">
                                <input type="checkbox"> Class III
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="kt-separator kt-separator--border-dashed 
                            kt-separator--space-lg kt-separator--portlet-fit">
                </div>
                <div class="form-group row">
                    <h5 class="form-header">Spacing</h5>
                </div>
                <div class="form-group row">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-form-label">Physiological:</label>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="kt-input-icon kt-input-icon--right">
                            <input type="text" class="form-control">
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                    <i class="la la-info-circle la-2x"></i></span>
                            </span>
                        </div>
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-form-label">Primate:</label>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="kt-input-icon kt-input-icon--right">
                            <input type="text" class="form-control">
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                    <i class="la la-info-circle la-2x"></i></span>
                            </span>
                        </div>
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-form-label">Crowding:</label>
                    <div class="col-lg-2 col-md- col-sm-2">
                        <div class="kt-input-icon kt-input-icon--right">
                            <input type="text" class="form-control">
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                    <i class="la la-info-circle la-2x"></i></span>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-form-label">Congental Missing Tooth:</label>
                    <div class="col-lg-2 col-md- col-sm-2">
                        <div class="kt-input-icon kt-input-icon--right">
                            <input type="text" class="form-control">
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                    <i class="la la-info-circle la-2x"></i></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="kt-separator kt-separator--border-dashed 
                kt-separator--space-lg kt-separator--portlet-fit">
                </div>
                <div class="form-group row">
                    <h5 class="form-header">Crossbite</h5>
                </div>
                <div class="form-group row">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-form-label">Anterior:</label>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="kt-input-icon kt-input-icon--right">
                            <input type="text" class="form-control">
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                    <i class="la la-info-circle la-2x"></i></span>
                            </span>
                        </div>
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-form-label">Posterior:</label>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="kt-input-icon kt-input-icon--right">
                            <input type="text" class="form-control">
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                    <i class="la la-info-circle la-2x"></i></span>
                            </span>
                        </div>
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-form-label">Describe:</label>
                    <div class="col-lg-2 col-md- col-sm-2">
                        <div class="kt-input-icon kt-input-icon--right">
                            <input type="text" class="form-control">
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                    <i class="la la-info-circle la-2x"></i></span>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="kt-separator kt-separator--border-dashed 
                            kt-separator--space-lg kt-separator--portlet-fit">
                </div>
                <div class="form-group row">
                    <h5 class="form-header">Habits</h5>
                </div>
                <div class="form-group row">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-form-label">Thumb sucking:</label>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="kt-input-icon kt-input-icon--right">
                            <input type="text" class="form-control">
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                    <i class="la la-info-circle la-2x"></i></span>
                            </span>
                        </div>
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-form-label">Finger sucking:</label>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="kt-input-icon kt-input-icon--right">
                            <input type="text" class="form-control">
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                    <i class="la la-info-circle la-2x"></i></span>
                            </span>
                        </div>
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-form-label">Tongue Thrusting:</label>
                    <div class="col-lg-2 col-md- col-sm-2">
                        <div class="kt-input-icon kt-input-icon--right">
                            <input type="text" class="form-control">
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                    <i class="la la-info-circle la-2x"></i></span>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-form-label">Any Other:</label>
                    <div class="col-lg-2 col-md- col-sm-2">
                        <div class="kt-input-icon kt-input-icon--right">
                            <input type="text" class="form-control">
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                    <i class="la la-info-circle la-2x"></i></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__foot d-flex justify-content-end">
                    <div class="kt-form__actions">
                        <button type="reset" class="btn btn-secondary m-2">Cancel</button>
                        <button type="submit" class="btn btn-success m-2" ng-click="Submit()">Save</button>
                    </div>
                </div>
        </form>
    </div>
</div>