.editable-table {
  .kt-switch {
    margin-top: 5px;
    label {
      margin: 0;
    }
  }
  .pagination {
    .page-item.active .page-link {
      background-color: #5d78ff;
    }

    @include kt-mobile {
      justify-content: center !important;
      margin-top: 10px !important;
    }
    .page-link {
      padding: 0.25rem 0.75rem;
      padding: 4px;
      font-size: 11px;
    }
  }

  .editable {
    &-th {
      background: #3d6b91;
      color: white !important;
      min-width: 130px !important;
      padding: 0.15rem 0.05rem 0.15rem 0.5rem !important;
      vertical-align: middle !important;
    }
    &-td {
      padding: 0.15rem 0.15rem 0.15rem 0.15rem !important;
    }
  }

  .table-bordered {
    border: 1px solid #ebedf2 !important;
  }

  .la {
    padding: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: #c8cad5;
    &:hover {
      color: kt-get($kt-state-colors, brand, base);
    }
  }

  .dataTables_wrapper {
    > .row:nth-child(2) > div {
      overflow-x: auto;
    }

    .dataTable {
      border-radius: 0;
    }

    td {
      padding: 1px !important;

      .form-control {
        border-radius: 0 !important;
        border: 0 !important;
      }
    }
  }

  @include kt-tablet {
    .dataTables_wrapper {
      td .form-control {
        font-size: 11px !important;
        font-weight: 500 !important;
        padding: 5px;
      }
    }
  }
}
