
<div id="dentalChartNotation" class="">
 <!-- begin:: Subheader -->
 <div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                Dental Chart Notation</h3>
        </div>
    </div>
</div>
<!-- end:: Subheader -->
<div class="kt-container kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="col-md-12 p-0">
            <div class="kt-portlet">
                <!--begin::Form-->
                <form class="kt-form kt-form--label-left">
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <h5 class="form-header">Dental Chart</h5>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-1 col-md-2 col-sm-2 col-form-label">Chart Type:</label>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <select class="form-control">
                                    <option selected>Adult</option>
                                    <option>Child</option>
                                </select>
                            </div>
                            <label class="col-lg-1 col-md-1 col-sm-1 col-form-label">Notation:</label>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="kt-input-icon kt-input-icon--right">
                                    <input type="text" class="form-control" placeholder="Enter Notation">                                  
                                </div>
                            </div>
                            <label class="col-lg-2 col-md-2 col-sm-2 col-form-label">Arabic Notation:</label>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="kt-input-icon kt-input-icon--right">
                                    <input type="text" class="form-control" placeholder="Enter Notation">                                    
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-1 col-md-1 col-sm-1 col-form-label">Description:</label>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="kt-input-icon kt-input-icon--right">
                                    <textarea class="form-control" rows="3" placeholder="Enter Description"></textarea>
                                    <span class="kt-input-icon__icon kt-input-icon__icon--right"><span>
                                            <i class="la la-align-left la-2x"></i></span>
                                    </span>
                                </div>
                            </div>
                            <label class="col-lg-1 col-md-1 col-sm-1 col-form-label">Image Upload:</label>
                            <div class="col-lg-4 col-md-9 col-sm-12">
                                <div class="dropzone dropzone-default" id="kt_dropzone_1">
                                    <div class="dropzone-msg dz-message needsclick">
                                        <h3 class="dropzone-msg-title">Drop files here or click to upload.</h3>
                                        <span class="dropzone-msg-desc">This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit">
                        </div>

                        


                    </div>
                    <div class="kt-portlet__foot d-flex justify-content-end">
                        <div class="kt-form__actions">
                            <button type="reset" class="btn btn-secondary m-2">Cancel</button>
                            <button type="submit" class="btn btn-success m-2" ng-click="Submit()">Save</button>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>
    </div>
</div>