#childClinical {
  .kt-portlet__foot {
    padding: 10px;
  }
  .kt-portlet__body {
    padding: 15px !important;
    padding-top: 5px !important;
  }

  .kt-separator.kt-separator--space-lg,
  .kt-separator.kt-separator--lg {
    margin: 0.5rem 0;
  }
}
